.btn {
    background-color: #303030;
    font-family: 'Segoe UI';
    color: #ffffff;
    font-weight: 600;
    letter-spacing: 0.05em;
    font-size: 1.2em;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.4s;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Variações */

.btn-primary {
    padding: 2% 12%;
    background-color: #303030;
}

.btn-primary:hover {
    background-color: #000;
}